@import "@/styles/vars";

.header {
    height: auto;
  background: $secondary-orange;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: white;
  letter-spacing: 1px;
  font-weight: 300;
  justify-content: space-between;
  min-height: 150px;
  user-select: none;
  position: relative;
  margin-bottom: 20px;
  padding-right: unset;

  @media only screen and (min-width: 415px) and (max-width: 600px) {
    padding: 20px !important;
  }

  @media only screen and (max-height: 775px) {
    min-height: 150px;
    margin-bottom: 30px;
  }

  @media only screen and (min-width: 750px) {
    padding-left: 5%;
  }

  @media only screen and (min-width: 1300px) {
    margin-bottom: 50px;
    height: 300px;
    padding-right: 5%;
  }

  > div {
    margin-left: auto;

    @media only screen and (max-width: 1300px) {
      margin-left: unset;
    }

    @media only screen and (max-width: 650px) {
      margin-left: auto;
      margin-right: auto;
    }

    h1,
    h2 {
      font-weight: 500;
      text-shadow: $box-shadow;
      text-align: right;

      @media only screen and (max-width: 1300px) {
        text-align: unset;
      }
    }

    h1 {
      font-size: 60px;
      margin-bottom: 10px;

      @media only screen and (max-width: 600px) {
        font-size: 24px;
      }

      @media only screen and (max-height: 775px) {
        font-size: 24px;
      }
    }

    h2 {
      font-size: 45px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 0;

      @media only screen and (max-width: 1300px) {
        justify-content: unset;
      }

      @media only screen and (max-width: 600px) {
        font-size: 20px;
      }

      @media only screen and (max-height: 775px) {
        font-size: 20px;
      }

      > svg {
        &:first-of-type {
          color: #ffd60b;
        }
        &:last-of-type {
          color: $deep-grey;
        }
      }

      > img {
        margin-left: 10px;
        margin-right: 10px;

        &:first-of-type {
          color: #ffd60b;
        }
      }
    }
  }

  > img {
    align-self: flex-end;
    height: 150%;
    width: auto;
    transform: scaleX(-1);
    margin-left: -50px;
    margin-bottom: -60px;

    @media only screen and (max-height: 775px) {
      height: 200%;
      margin-left: -20px;
    }

    @media only screen and (max-width: 1300px) {
      display: none;
    }
  }
}

.header-subtitle {
  display: none;

  @media only screen and (min-width: 1800px) {
    display: block;
  }
}

.spotify-power {
  position: relative;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
}
